
.author{
    border-style: solid;
    height: fit-content;
    padding: 1rem;
    border-color: #a24e12;
    display: inline-block;
    text-align: right;
    margin-top: 30px;
    margin-left: 32px;
  }
  .authorDetails{
    border-style: solid;
    height: fit-content;
    padding: 1rem;
    border-color: #a24e12;
    display: inline-block;
    text-align: right;
    margin-top: 30px;
    margin-left: 32px;
  
  }
  .imgAuthorDetails{
      height: 200px;
      width: 200px;
  }
  .authorButton{
    font-family: sans-serif;
    background-color: #a24e12;
    color: white;
    height: 3rem;
    width: 10rem;
    margin-left: 59rem;
    position: relative;
    border-radius: 0.5rem;
    margin-top: 2rem;
  }